<!DOCTYPE html>
<html>
<head>
	<title>daohang</title>
	    <meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="dao.css">
	
</head>
<body>





	<div style="width:300px; height:auto; float:left; display:inline">

            <ul class="dropDown-menu menu radius box-shadow">
					<li class=""><a href="../upload/"></a>图片上传</li>
					<li class=""><a href="../search/">图片搜索</a></li>
			</ul>
	</div>





	<div style="width:300px; height:auto; float:left; display:inline">
		
			{% block content %}
            {% endblock %}

	</div> 
	
</body>
</html>